<!DOCTYPE html>
<head>
<title>Euroveikkaus</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1>Euroveikkaus</h1>
<br>
<a id="tablelink" href="/taulukko">Tulostaulukko</a>
<br>
<div id="players">
    {% for player in players %}
    {% if loop.index == 1 %}
    <div id="player1" style="font-size: 75px;">
    {% elif loop.index == 2 %}
    <div id="player2" style="font-size: 70px;">
    {% elif loop.index == 3 %}
    <div id="player3" style="font-size: 60px;">
    {% else %}
    <div id="player" style="font-size: 50px;">
    {% endif %}
    <a href="/{{player[1]}}">{{player[1]}} {{player[2]}}</a>
    </div>
    {% endfor %}
</div>

<p style="text-align:left; margin-top: 80px; margin-left: 10%; ">Tarkastakaa että veikkauksenne ovat tulleet oikein</p>
<div id="bottom">
    <div class="pointingarea">
        <span>Ottelupisteytys:<br>
            9p: Veikkaus täysin oikein<br>
            5p: Voittaja sekä jommankumman maalit oikein<br>
            3p: Voittaja oikein<br>
            1p: Jommankumman maalit oikein<br>
        </span>
        <br>
        Muut:
        <br>
        <span>
            5p/ Lohkosijoitus oikein<br>
            15p: Kisojen voittaja oikein<br>
            15p: Kisojen kakkonen oikein<br>
            8p/ 3-4. Sija oikein<br>
            4p/ 5-8. Sija oikein<br>
            2p/ 9-16. Sija oikein<br>
            15p: Paras maalintekijä oikein<br>
            15p: Paras syöttäjä oikein
            </span>
    </div>
    <a href="/adminmenu" style="color:lime">Admin menu</a>
</div>
</body>
</html>
