<!DOCTYPE html>
<head>
<title>Euroveikkaus</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1>Euroveikkaus</h1>
<br>
<div id="players">
    {% for player in players %}
    {% if loop.index == 1 %}
    <div id="player1" style="font-size: 75px;">
    {% elif loop.index == 2 %}
    <div id="player2" style="font-size: 70px;">
    {% elif loop.index == 3 %}
    <div id="player3" style="font-size: 60px;">
    {% else %}
    <div id="player" style="font-size: 50px;">
    {% endif %}
    <a href="/{{player[1]}}">{{player[1]}} {{player[2]}}</a>
    </div>
    {% endfor %}
</div>

<div id="bottom">
    <a href="/adminmenu">Admin menu</a>
</div>
</body>
</html>
