<!DOCTYPE html>
<head>
<title>{{matchguesses[0][2]}} Veikkaukset</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body style="background-color: #3e3e3e; color: #93fffa; padding-bottom: 200px;">
<h2 style="font-size:30px; margin-top: 35px; color:white; font-size:250%;">Pelaajan {{matchguesses[0][2]}} veikkaukset</h2>
<span>Pisteitä yhteensä: {{points[0][0]}}</span>
<div id="matches">
<a id="return" href="/">Etusivulle</a>
<h2 style="font-size:180%; color:white;">Pelatut ottelut</h2>
{% set vars = {'upcoming': True} %}
{% for ottelu in matches %}
<div id="match">
    {% if vars.upcoming and ottelu[3] == -1 %}
        <hr>
        <h2 style="font-size:180%; color:white;">Tulevat ottelut</h2>
        <br>
        {% if vars.update({'upcoming':False}) %} {% endif %}
    {% endif %}
    <span id="teams">{{ottelu[1]}} - {{ottelu[2]}}</span><br><span id="date"> {{ottelu[6]}}</span><br><span id="guessandscore">Veikkaus: {{matchguesses[loop.index-1][3]}}-{{matchguesses[loop.index-1][4]}}   [{{matchguesses[loop.index-1][5]}}]<br>
    {% if not ottelu[3] == -1 %}
    Tulos: {{ottelu[3]}}-{{ottelu[4]}} <br>Pisteet: {{matchguesses[loop.index-1][6]}}
    {% endif %}
    </span>
    <br>
</div>
{% endfor %}
</div>
<div id="rightside">
    <div id ="groups">
        <h2 style="font-size:180%;">Lohkosijoitukset</h2>
        {% for joukkue in groupguesses %}
        {% if ((loop.index - 1) % 4) == 0 %}
        <p style="font-size:26px; color: white;">Lohko {{joukkue[2]}}</p>
        {% endif %}
        <span style="font-size:22px;">{{joukkue[4]}}. {{joukkue[3]}}</span>
        <br>
        {% endfor %}
    </div>
<hr>
<div id="finishes">
    <h2 style="font-size:180%; color: white;">Turnaussijoitukset</h2>
    {% for joukkue in finishguesses %}
    {% if joukkue[5] < 3 %}
    <span style="font-size:22px;">{{joukkue[5]}}. {{joukkue[3]}}</span>
    <br>
    {% elif joukkue[5] < 5 %}
    <span style="font-size:22px;">3-4. {{joukkue[3]}}</span>
    <br>
    {% elif joukkue[5] < 9 %}
    <span style="font-size:22px;">5-8. {{joukkue[3]}}</span>
    <br>
    {% else %}
    <span style="font-size:22px;">9-16. {{joukkue[3]}}</span>
    <br>
    {% endif %}
    {% endfor %}
</div>
<hr>
<div id="topplayers">
    <h2 style="font-size:180%; color: white;">Parhaat pelaajat</h2>
    <span>Maalintekijä: {{topplayers[0][2]}}</span><br>
    <span>Syöttäjä: {{topplayers[0][3]}}
</div>
</div>
</body>
</html>
