<!DOCTYPE html>
<head>
<title>{{player}} veikkaukset</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h3>Pelaajan {{player}} veikkaukset</h3>
<br>
<span>Ku on eri tietokoneet ja muut nii voi olla et jotai tapahtuu eri taval jollo voi tulla errorii nii pistä vaa viestii jos tulee</span>
<br>
<form action="/commitguesses" method="POST">
    <p>Kopioi tulos ja voittaja pylväät alla olevaan laatikkoon</p>
    <textarea id="matchguesses" style="width: 150px" name="matches"></textarea>
    <h2>Lohkosijoitukset</h2>
    <p>Kopioi maa ja sijoitus pylväät lohkon laatikkoon</p>
    <h2>Lohko A</h2>
    <textarea id="groupguess" style="width:220px;" name="A"></textarea><br>
    <h2>Lohko B</h2>
    <textarea id="groupguess" style="width:220px;" name="B"></textarea><br>
    <h2>Lohko C</h2>
    <textarea id="groupguess" style="width:220px;" name="C"></textarea><br>
    <h2>Lohko D</h2>
    <textarea id="groupguess" style="width:220px;" name="D"></textarea><br>
    <h2>Lohko E</h2>
    <textarea id="groupguess" style="width:220px;" name="E"></textarea><br>
    <h2>Lohko F</h2>
    <textarea id="groupguess" style="width:220px;" name="F"></textarea><br>
    <h2>Kisojen sijoitukset</h2>
    <p>Kohdissa 3-4, 5-8 ja 9-16 kopioi maat suoraan taulukosta</p>
    1.<br> <textarea name="1" style="height:40px;"></textarea><br>
    2.<br> <textarea name="2" style="height:40px;"></textarea><br>
    3-4 <br><textarea name="3to4" style="height:90px;"></textarea><br>
    5-8 <br><textarea name="5to8" style="height:160px;"></textarea><br>
    9-16 <br> <textarea name="9to16" style="height:200px;"></textarea><br>
    <h2>Paras maalintekijä</h2>
    <textarea name="topscorer"></textarea><br>
    <h2>Paras syöttäjä</h2>
    <textarea name="topassister"></textarea><br>
    <input type="hidden" name="pelaaja" value="{{player}}">
    <input type="submit" value="Lähetä">
    </form>
</body>
</html>
