<!DOCTYPE html>
<head>
<title>Taulukko</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body style="background-color: #3e3e3e; color: #93fffa; padding-bottom: 500px;">
    
<h2 style="font-size:30px; margin-top: 35px; color:white; font-size:250%;">Tulossa taulukko pelaajien pisteistä</h2>
<br>
<a style="color:cyan; font-size:30px;"href="/">Etusivulle</a>
<table id="table">
    <tbody>
        <tr>
            <th>Nimi</th>
            <th>Ottelut</th>
            <th>Lohkot</th>
            <th>Sijoitukset</th>
            <th>Parhaat pelaajat</th>
            <th>Yhteensä</th>
        </tr>
        {% for player in players %}
        <tr>
            <td>{{player[1]}}</td>
            <td>{{player[6]}}</td>
            <td>{{player[3]}}</td>
            <td>{{player[4]}}</td>
            <td>{{player[5]}}</td>
            <td>{{player[2]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>
